body {
	background-image: url('img/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% ;
}

a:link {
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

.panel {
	background-color: #a0a0a0;
}